.post-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    transition: border-color 0.25s;
}

.post-btn:hover {
    border-color: #646cff;
}

textarea {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    border-color: #c8c8c8;
    padding: 5px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    transition: border-color 0.25s;
}